<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeanette.androidprojekt" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Spiltyper"
            android:label="@string/title_activity_spiltyper" >
        </activity>
        <activity
            android:name=".Kategorier"
            android:label="@string/title_activity_kategorier" >
        </activity>
        <activity
            android:name=".Spillet"
            android:label="@string/title_activity_spillet" >
        </activity>
        <activity
            android:name=".SpilFaerdigt"
            android:label="@string/title_activity_spil_faerdigt" >
        </activity>
        <activity
            android:name=".Upload"
            android:label="@string/title_activity_upload" >
        </activity>
        <activity
            android:name=".Highscore"
            android:label="@string/title_activity_highscore" >
        </activity>
    </application>

</manifest>
